---
export const prerender = true

import Layout from "../layouts/Layout.astro"
import FindWorkForm from "$components/playground/FindWorkForm.astro"
import { getEntry } from "astro:content"

const bio = await getEntry("docs", "index")
const { Content: Bio } = await bio.render()
const docs = await getEntry("docs", "api")
const { Content: Docs } = await docs.render()
---

<Layout title="API Docs" home>
	<h1>AstroArt</h1>
	<Bio />
	<hr />
	<FindWorkForm />
	<hr />
	<h1>{docs.data.title}</h1>
	<Docs />
</Layout>
